[submodule "workloads/bst-proplang-rocq"]
	path = workloads/bst-proplang-rocq
	url = https://github.com/alpaylan/etna-rocq-bst-proplang
[submodule "workloads/rbt-proplang-rocq"]
	path = workloads/rbt-proplang-rocq
	url = https://github.com/alpaylan/etna-rocq-rbt-proplang
[submodule "workloads/bst-rocq"]
	path = workloads/bst-rocq
	url = https://github.com/alpaylan/etna-rocq-bst
[submodule "workloads/rbt-rocq"]
	path = workloads/rbt-rocq
	url = https://github.com/alpaylan/etna-rocq-rbt
[submodule "workloads/stlc-rocq"]
	path = workloads/stlc-rocq
	url = https://github.com/alpaylan/etna-rocq-stlc
[submodule "workloads/stlc-proplang-rocq"]
	path = workloads/stlc-proplang-rocq
	url = https://github.com/alpaylan/etna-rocq-stlc-proplang
[submodule "workloads/bst-racket"]
	path = workloads/bst-racket
	url = https://github.com/alpaylan/etna-racket-bst
[submodule "workloads/rbt-racket"]
	path = workloads/rbt-racket
	url = https://github.com/alpaylan/etna-racket-rbt
[submodule "workloads/stlc-racket"]
	path = workloads/stlc-racket
	url = https://github.com/alpaylan/etna-racket-stlc
[submodule "workloads/systemf-racket"]
	path = workloads/systemf-racket
	url = https://github.com/alpaylan/etna-racket-systemf
[submodule "workloads/ifc-proplang-rocq"]
	path = workloads/ifc-proplang-rocq
	url = https://github.com/alpaylan/etna-rocq-ifc-proplang
